<section class="fixed noOverflow clearFix">
<% _.each(properties, function(property) { %>
    <div property="<%= property.attributes.homesId %>" class="relative noOverflow property borderBox whiteText left pointer">
        <img src="<%= property.attributes.primaryImage %>" alt="<%= property.attributes.name %>" class="block width100">
        <p class="absolute width100 fadingGradient">
            <strong><%= property.attributes.name %></strong><br>
            <%= property.attributes.location %><br>
            <%= property.attributes.type %>
        </p>
    </div>
<% }); %>
</section>