<%= lightbox %>
<%= videoLightbox %>
<div id="gallery" class="fixed noOverflow"></div>
<a id="swipeHorizArrow" class="block absolute safariHack"></a>
<section id="teaser" class="relative borderBox noOverflow">
    <div class="info">
        <h2><%= property.attributes.name %></h2>
        <p class="clickable pointer" section="map">
            <%= property.attributes.streetAddress %> <%= property.attributes.city %>, <%= property.attributes.state %><%= property.attributes.zip %><br>
            <a href="http://maps.google.com?q=<%= property.address %>" target="_blank">View Map &amp; Directions</a>
        </p>
        <p class="clickable pointer" section="floorplans">
            <%= property.attributes.beds %> Beds for <%= property.attributes.price.min %> - <%= property.attributes.price.max %><br>
            <a>View Floor Plans &amp; Prices</a>
        </p>
        <p class="clickable pointer" section="reviews">
            <span id="webReview" class="block reviewStars">4 Reviews</span>
            <a>View Reviews from the Web</a>
        </p>
    </div>
</section>

<section id="more" class="relative borderBox noOverflow table width100 safariHack">
    <div class="tableRow">
        <div id="moreContent" class="tableCell vAlignTop">
            <%= detailsSection %>
            <%= amenitiesSection %>
            <%= floorplansSection %>
            <%= reviewsSection %>
            <%= mapSection %>
        </div>
        <div class="form relative tableCell vAlignTop">
            <%= guestCardForm %>
            <%= communitySpotlight %>
            <%= propertyGallery %>
            <%= propertyManagement %>
            <%= officeHours %>
            <%= petPolicy %>
        </div>
    </div>
</section>