<div id="gallery"></div>
<img src="/img/swipe-arrow-left.png" id="swipeArrow">
<section id="teaser">
    <div class="info">
        <h2><%= property.name %></h2>
        <p class="clickable" section="map">
            <%= property.address %><br>
            <a href="http://maps.google.com?q=<%= property.address %>" target="_blank">View Map &amp; Directions</a>
        </p>
        <p class="clickable" section="floorplans">
            <%= property.type %> for <%= property.price %><br>
            <a>View Floor Plans &amp; Prices</a>
        </p>
        <p class="clickable" section="reviews">
            <span id="webReview">4 Reviews</span>
            <a>View Reviews from the Web</a>
        </p>
        <p class="clickable noBorder" section="details">
            Details<br>
            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet arcu pretium, placerat mauris sed, hendrerit eros. Curabitur sed fermentum justo. Pellentesque lobortis, orci ut porttitor luctus, nisi urna pharetra magna.</small>
        </p>
    </div>
    <div class="buttons">
        <div>
            <div><button id="buttonCA">Check Availability</button></div>
            <div id="buttonSpacer"></div>
            <div><button>1-800-555-0123</button></div>
        </div>
    </div>
</section>
<section id="more">
    <div>
        <div id="moreContent"><%= moreContent %></div>
        <div class="form"><%= guestCardForm %></div>
    </div>
</section>