<div id="advancedSearch">
    <div>
        <span></span>
        <h3>Refine Your Search</h3>
        <div class="table">
            <div>
                <div class="noPadLeft"><select>
                    <option value="">Beds</option>
                    <option value="Studio">Studio</option>
                    <option value="1">1 Bed</option>
                    <option value="2">2 Beds</option>
                    <option value="3">3 Beds</option>
                    <option value="4+">4+ Beds</option>
                </select></div>
                <div><select>
                    <option value="">Baths</option>
                    <option value="1">1+ Baths</option>
                    <option value="2">2+ Baths</option>
                    <option value="3">3+ Baths</option>
                </select></div>
                <div><select>
                    <option value="">Price: Low</option>
                    <% var price = 250; while(price <= 3000) { %>
                        <option value="<%= price %>"><%= price %></option>
                        <% price += 250; %>
                    <% } %>
                </select></div>
                <div>&nbsp; to &nbsp;</div>
                <div><select>
                    <option value="">Price: Max</option>
                    <% var price = 500; while(price <= 5000) { %>
                        <option value="<%= price %>"><%= price %></option>
                        <% price += 250; %>
                    <% } %>
                </select></div>
                <div class="noPadRight"><select>
                    <option value="">Apartment &amp; Community Amenities</option>
                </select></div>
            </div>
        </div>
        <div class="buttons">
            <button>Cancel</button> &nbsp;
            <button class="blue">Apply</button>
        </div>
    </div>
</div>