<form id="guestCard" method="post" action="" class="absolute height100">
    <h3>Check Availability</h3>
    <fieldset>
        <input type="text" placeholder="Full Name" name="fullName" class="width100 borderBox">
    </fieldset>
    <fieldset>
        <input type="text" placeholder="Email Address" name="emailAddress" class="width100 borderBox">
    </fieldset>
    <fieldset>
        <input type="text" placeholder="Phone Number" name="phoneNumber" class="width100 borderBox">
    </fieldset>
    <fieldset>
        <textarea placeholder="I am interested in more information about this property." name="comments" class="width100 borderBox"></textarea>
    </fieldset>
    <fieldset>
        <button type="submit" class="width100 borderBox whiteText alignCenter">Check Availability</button>
    </fieldset>
</form>