<form id="guestCard" method="post" action="">
    <h3>Check Availability</h3>
    <p>Email this property for more information</p>
    <fieldset>
        <input type="text" placeholder="Full Name" name="fullName">
    </fieldset>
    <fieldset>
        <input type="text" placeholder="Email Address" name="emailAddress">
    </fieldset>
    <fieldset>
        <input type="text" placeholder="Phone Number" name="phoneNumber">
    </fieldset>
    <fieldset>
        <textarea placeholder="I am interested in more information about this property." name="comments"></textarea>
    </fieldset>
    <fieldset>
        <button type="submit">Check Availability</button>
    </fieldset>
</form>