<ul id="communityAmenities" class="block-grid  p20 searchAmenitiesContent">
    <li>
        <label class="unit flexUnit txtN" for="acceptscreditcardpayments">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="88" id="acceptscreditcardpayments">Accepts Credit Card Payments</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="acceptselectronicpayments">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="89" id="acceptselectronicpayments">Accepts Electronic Payments</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="attuverse">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="100" id="attuverse">AT&amp;T U-verse</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="businesscenter">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="6" id="businesscenter">Business Center</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="closetopublictrans">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="40" id="closetopublictrans">Close to Public Transportation</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="clubhouse">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="11" id="clubhouse">Clubhouse</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="controlledaccess">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="12" id="controlledaccess">Controlled Access</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="coveredparking">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="15" id="coveredparking">Covered Parking</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="disabilityaccess">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="16" id="disabilityaccess">Disability Access</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="doorattendant">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="98" id="doorattendant">Door Attendant</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="elevator">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="19" id="elevator">Elevator</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="fitnesscenter">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="22" id="fitnesscenter">Fitness Center</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="garages">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="25" id="garages">Garages</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="hablamosespanol">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="138" id="hablamosespanol">Hablamos Español</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="laundryfacility">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="33" id="laundryfacility">Laundry Facility</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="nosmoking">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="139" id="nosmoking">No Smoking</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="playground">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="39" id="playground">Playground</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="pool">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="59" id="pool">Pool</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="shorttermlease">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="43" id="shorttermlease">Short Term Lease</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="tenniscourts">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="48" id="tenniscourts">Tennis Courts</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="utilitiesincluded">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="140" id="utilitiesincluded">Utilities Included</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="verizonfios">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="101" id="verizonfios">Verizon FiOS</label>
    </li>

</ul>
