<ul id="photos-videosAmenities" class="block-grid  p20 searchAmenitiesContent borderBottom">
    <li>
        <label class="unit flexUnit txtN" for="multiplephotos">
            <input type="checkbox" name="Has_Multiple_Photos" class="unit mr5" value="Has_Multiple_Photos" id="multiplephotos">Multiple Photos</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="streamingvideo">
            <input type="checkbox" name="Has_Community_Theater" class="unit mr5" value="Has_Community_Theater" id="streamingvideo">Streaming Video</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="virtualtour">
            <input type="checkbox" name="Has_VTour" class="unit mr5" value="Has_VTour" id="virtualtour">Virtual Tour</label>
    </li>
</ul>
