<ul id="petsAmenities" class="block-grid  p20 searchAmenitiesContent">
    <li>
        <label class="unit flexUnit txtN" for="catsallowed">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="9" id="catsallowed">Cats Allowed</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="smalldogsallowed">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="44" id="smalldogsallowed">Small Dogs Allowed</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="largedogsallowed">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="91" id="largedogsallowed">Large Dogs Allowed</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="petsallowed">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="38" id="petsallowed">Pets Allowed</label>
    </li>
</ul>
