<div id="reviews" class="section">
    <h2>Reviews</h2>
    <p class="noBorder reviewStars">
        <strong class="block">Apartment is Fantastic</strong>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et lacinia orci. Etiam ac eros at ante gravida ultrices ut vel nibh. Donec dapibus luctus egestas. Praesent aliquet adipiscing nunc sit amet lacinia.
        <span class="block">From Google Places</span>
    </p>
    <p class="reviewStars">
        <strong class="block">Apartment is Fantastic</strong>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et lacinia orci. Etiam ac eros at ante gravida ultrices ut vel nibh. Donec dapibus luctus egestas. Praesent aliquet adipiscing nunc sit amet lacinia.
        <span class="block">From Google Places</span>
    </p>
    <p class="reviewStars">
        <strong class="block">Apartment is Fantastic</strong>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et lacinia orci. Etiam ac eros at ante gravida ultrices ut vel nibh. Donec dapibus luctus egestas. Praesent aliquet adipiscing nunc sit amet lacinia.
        <span class="block">From Google Places</span>
    </p>
    <p class="reviewStars">
        <strong class="block">Apartment is Fantastic</strong>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et lacinia orci. Etiam ac eros at ante gravida ultrices ut vel nibh. Donec dapibus luctus egestas. Praesent aliquet adipiscing nunc sit amet lacinia.
        <span class="block">From Google Places</span>
    </p>
</div>