<div id="details" class="bgWhite">
    <table class="width100">
        <tr>
            <td class="name alignLeft vAlignMiddle"><%= property.name %></td>
            <td class="alignCenter vAlignMiddle">1<span class="block">Beds</span></td>
            <td class="alignCenter vAlignMiddle">2<span class="block">Baths</span></td>
            <td class="alignCenter vAlignMiddle">$1,500<span class="block">Monthly</span></td>
        </tr>
    </table>
    <p>Curabitur eleifend nisi lobortis, adipiscing mauris in, venenatis ipsum. Sed suscipit nisi ut tincidunt facilisis. Praesent ligula mi, cursus eu gravida nec, consequat id sapien. Vestibulum adipiscing quis mi quis mollis. In condimentum consequat felis, sit amet gravida massa elementum quis. Ut suscipit aliquet dolor, vitae laoreet nibh mollis non. Aenean diam justo, pretium et odio a, fermentum tempus metus.</p>
</div>