<div id="floorplans" class="bgWhite">
    <table class="width100">
        <tr>
            <td class="alignLeft">
                Floor Plan Name
                <span class="block">more details here</span>
            </td>
            <td class="alignCenter">1<span class="block">Beds</span></td>
            <td class="alignCenter">2<span class="block">Baths</span></td>
            <td class="alignCenter">$1,500<span class="block">Monthly</span></td>
        </tr>
        <tr>
            <td class="alignLeft">
                Floor Plan Name
                <span class="block">more details here</span>
            </td>
            <td class="alignCenter">1<span class="block">Beds</span></td>
            <td class="alignCenter">2<span class="block">Baths</span></td>
            <td class="alignCenter">$1,500<span class="block">Monthly</span></td>
        </tr>
        <tr>
            <td class="alignLeft">
                Floor Plan Name
                <span class="block">more details here</span>
            </td>
            <td class="alignCenter">1<span class="block">Beds</span></td>
            <td class="alignCenter">2<span class="block">Baths</span></td>
            <td class="alignCenter">$1,500<span class="block">Monthly</span></td>
        </tr>
        <tr>
            <td class="alignLeft">
                Floor Plan Name
                <span class="block">more details here</span>
            </td>
            <td class="alignCenter">1<span class="block">Beds</span></td>
            <td class="alignCenter">2<span class="block">Baths</span></td>
            <td class="alignCenter">$1,500<span class="block">Monthly</span></td>
        </tr>
        <tr>
            <td class="alignLeft">
                Floor Plan Name
                <span class="block">more details here</span>
            </td>
            <td class="alignCenter">1<span class="block">Beds</span></td>
            <td class="alignCenter">2<span class="block">Baths</span></td>
            <td class="alignCenter">$1,500<span class="block">Monthly</span></td>
        </tr>
        <tr>
            <td class="alignLeft">
                Floor Plan Name
                <span class="block">more details here</span>
            </td>
            <td class="alignCenter">1<span class="block">Beds</span></td>
            <td class="alignCenter">2<span class="block">Baths</span></td>
            <td class="alignCenter">$1,500<span class="block">Monthly</span></td>
        </tr>
        <tr>
            <td class="alignLeft">
                Floor Plan Name
                <span class="block">more details here</span>
            </td>
            <td class="alignCenter">1<span class="block">Beds</span></td>
            <td class="alignCenter">2<span class="block">Baths</span></td>
            <td class="alignCenter">$1,500<span class="block">Monthly</span></td>
        </tr>
        <tr>
            <td class="alignLeft noBorder">
                Floor Plan Name
                <span class="block">more details here</span>
            </td>
            <td class="alignCenter noBorder">1<span class="block">Beds</span></td>
            <td class="alignCenter noBorder">2<span class="block">Baths</span></td>
            <td class="alignCenter noBorder">$1,500<span class="block">Monthly</span></td>
        </tr>
    </table>
</div>