<ul id="property-typesAmenities" class="block-grid  p20 searchAmenitiesContent">

                    <li>
                        <label class="unit flexUnit txtN" for="apartmentcondo">
                            <input type="checkbox" name="propertyType[]" class="unit mr5" value="1,8" id="apartmentcondo">Apartment/Condo</label>
                    </li>

                    <li>
                        <label class="unit flexUnit txtN" for="brownstone">
                            <input type="checkbox" name="propertyType[]" class="unit mr5" value="92" id="brownstone">Brownstone</label>
                    </li>

                    <li>
                        <label class="unit flexUnit txtN" for="co-op">
                            <input type="checkbox" name="propertyType[]" class="unit mr5" value="94" id="co-op">Co-Op</label>
                    </li>

                    <li>
                        <label class="unit flexUnit txtN" for="duplextriplex">
                            <input type="checkbox" name="propertyType[]" class="unit mr5" value="4,5" id="duplextriplex">Duplex/Triplex</label>
                    </li>

                    <li>
                        <label class="unit flexUnit txtN" for="efficiencystudio">
                            <input type="checkbox" name="propertyType[]" class="unit mr5" value="6" id="efficiencystudio">Efficiency/Studio</label>
                    </li>

                    <li>
                        <label class="unit flexUnit txtN" for="highrise">
                            <input type="checkbox" name="propertyType[]" class="unit mr5" value="29" id="highrise">High Rise</label>
                    </li>

                    <li>
                        <label class="unit flexUnit txtN" for="loft">
                            <input type="checkbox" name="propertyType[]" class="unit mr5" value="10" id="loft">Loft</label>
                    </li>

                    <li>
                        <label class="unit flexUnit txtN" for="lowrise">
                            <input type="checkbox" name="propertyType[]" class="unit mr5" value="95" id="lowrise">Low Rise</label>
                    </li>

                    <li>
                        <label class="unit flexUnit txtN" for="midrise">
                            <input type="checkbox" name="propertyType[]" class="unit mr5" value="66" id="midrise">Mid Rise</label>
                    </li>

                    <li>
                        <label class="unit flexUnit txtN" for="newconstruction">
                            <input type="checkbox" name="propertyType[]" class="unit mr5" value="93" id="newconstruction">New Construction</label>
                    </li>

                    <li>
                        <label class="unit flexUnit txtN" for="postwar">
                            <input type="checkbox" name="propertyType[]" class="unit mr5" value="96" id="postwar">Post-War</label>
                    </li>

                    <li>
                        <label class="unit flexUnit txtN" for="prewar">
                            <input type="checkbox" name="propertyType[]" class="unit mr5" value="97" id="prewar">Pre-War</label>
                    </li>

                    <li>
                        <label class="unit flexUnit txtN" for="singlefamilyhome">
                            <input type="checkbox" name="propertyType[]" class="unit mr5" value="2" id="singlefamilyhome">Single Family Home</label>
                    </li>

                    <li>
                        <label class="unit flexUnit txtN" for="townhouse">
                            <input type="checkbox" name="propertyType[]" class="unit mr5" value="7" id="townhouse">Townhouse</label>
                    </li>
                </ul>