<div id="reviews">
    <p class="noBorder">
        <strong>Apartment is Fantastic</strong>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et lacinia orci. Etiam ac eros at ante gravida ultrices ut vel nibh. Donec dapibus luctus egestas. Praesent aliquet adipiscing nunc sit amet lacinia.
        <span>From Google Places</span>
    </p>
    <p>
        <strong>Apartment is Fantastic</strong>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et lacinia orci. Etiam ac eros at ante gravida ultrices ut vel nibh. Donec dapibus luctus egestas. Praesent aliquet adipiscing nunc sit amet lacinia.
        <span>From Google Places</span>
    </p>
    <p>
        <strong>Apartment is Fantastic</strong>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et lacinia orci. Etiam ac eros at ante gravida ultrices ut vel nibh. Donec dapibus luctus egestas. Praesent aliquet adipiscing nunc sit amet lacinia.
        <span>From Google Places</span>
    </p>
    <p>
        <strong>Apartment is Fantastic</strong>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et lacinia orci. Etiam ac eros at ante gravida ultrices ut vel nibh. Donec dapibus luctus egestas. Praesent aliquet adipiscing nunc sit amet lacinia.
        <span>From Google Places</span>
    </p>
    <p>
        <strong>Apartment is Fantastic</strong>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et lacinia orci. Etiam ac eros at ante gravida ultrices ut vel nibh. Donec dapibus luctus egestas. Praesent aliquet adipiscing nunc sit amet lacinia.
        <span>From Google Places</span>
    </p>
</div>