<div id="floorplans">
    <table>
        <tr>
            <td class="left">
                Floor Plan Name
                <span>more details here</span>
            </td>
            <td>1<span>Beds</span></td>
            <td>2<span>Baths</span></td>
            <td>$1,500<span>Monthly</span></td>
        </tr>
        <tr>
            <td class="left">
                Floor Plan Name
                <span>more details here</span>
            </td>
            <td>1<span>Beds</span></td>
            <td>2<span>Baths</span></td>
            <td>$1,500<span>Monthly</span></td>
        </tr>
        <tr>
            <td class="left">
                Floor Plan Name
                <span>more details here</span>
            </td>
            <td>1<span>Beds</span></td>
            <td>2<span>Baths</span></td>
            <td>$1,500<span>Monthly</span></td>
        </tr>
        <tr>
            <td class="left">
                Floor Plan Name
                <span>more details here</span>
            </td>
            <td>1<span>Beds</span></td>
            <td>2<span>Baths</span></td>
            <td>$1,500<span>Monthly</span></td>
        </tr>
        <tr>
            <td class="left">
                Floor Plan Name
                <span>more details here</span>
            </td>
            <td>1<span>Beds</span></td>
            <td>2<span>Baths</span></td>
            <td>$1,500<span>Monthly</span></td>
        </tr>
        <tr>
            <td class="left">
                Floor Plan Name
                <span>more details here</span>
            </td>
            <td>1<span>Beds</span></td>
            <td>2<span>Baths</span></td>
            <td>$1,500<span>Monthly</span></td>
        </tr>
        <tr>
            <td class="left">
                Floor Plan Name
                <span>more details here</span>
            </td>
            <td>1<span>Beds</span></td>
            <td>2<span>Baths</span></td>
            <td>$1,500<span>Monthly</span></td>
        </tr>
        <tr class="noBorder">
            <td class="left">
                Floor Plan Name
                <span>more details here</span>
            </td>
            <td>1<span>Beds</span></td>
            <td>2<span>Baths</span></td>
            <td>$1,500<span>Monthly</span></td>
        </tr>
    </table>
</div>