<style type="text/css">
.basic {
    display: inline-block;
    position: relative;
    width: 47%;
    margin: 1.5% 0 0 1.5%;
}
    .basic .aspect_fill {
        padding-top: 75%; /* 4:3 aspect ratio */
    }
    .basic .element {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: silver /* show me! */
    }
    .basic img {
        position: absolute;
    }
.select {
    width: 96%;
    margin: 1.5% 0 0 1.5%;
}
    .select .aspect_fill {
        padding-top: 40%; /* 4:3 aspect ratio */
    }
    .select img {
        top: -25%;
    }
</style>
<%
for(var s = 0; s < numBlocksToPrint; s++) {
%>
    <div class="basic select">
        <div class="aspect_fill"></div>
        <div class="element noOverflow" property="<%= selects[s].id %>">
            <img src="/img/listings/<%= selects[s].id %>-1024.jpg" class="block width100">
            <p class="desc fadingGradient width100 absolute whiteText">
                <strong><%= selects[s].name %></strong><br>
                <%= selects[s].location %><br>
                <%= selects[s].type %>
            </p>
            <p class="price absolute whiteText"><%= selects[s].price %></p>
        </div>
    </div>
<%
    for(var p = 0; p < numPropertiesToPrint; p++) { 
%>
        <div class="basic">
            <div class="aspect_fill"></div>
            <div class="element noOverflow" property="<%= properties[p].id %>">
                <img src="/img/listings/<%= properties[p].id %>-612.jpg" class="block width100">
                <p class="desc fadingGradient width100 absolute whiteText">
                    <strong><%= properties[p].name %></strong><br>
                    <%= properties[p].location %><br>
                    <%= properties[p].type %>
                </p>
            </div>
        </div>
<%
    }
} 
%>