<form action="/search" method="post" name="search" id="searchBar" class="relative block <%= formClass %> clearFix borderBox">
    <%= heading %>
    <fieldset class="relative clearFix">
        <input type="text" name="keywords" placeholder="City, State or Zip Code" value="<%= keywords %>" class="block width100 borderBox">
        <div class="absolute">
            <a id="advSearchBtn" class="block borderBox left"></a>
            <button type="submit" class="block borderBox alignCenter left">Search</button>
        </div>
    </fieldset>
</form>