<div class="table">
    <div>
        <div class="select">
            <div property="<%= selects[0].id %>">
                <img src="/img/listings/<%= selects[0].id %>-1024.jpg">
                <p class="desc">
                    <strong><%= selects[0].name %></strong><br>
                    <%= selects[0].location %><br>
                    <%= selects[0].type %>
                </p>
                <p class="price"><%= selects[0].price %></p>
            </div>
        </div>
        <div class="stacked">
        <% for(var i = 0; i < 2; i++) { %>
            <div property="<%= properties[i].id %>">
                <img src="/img/listings/<%= properties[i].id %>-612.jpg">
                <p class="desc">
                    <strong><%= properties[i].name %></strong><br>
                    <%= properties[i].location %><br>
                    <%= properties[i].type %>
                </p>
            </div>
        <% } %>
        </div>
    </div>
</div>
<div class="table">
    <div>
        <% for(var i = 2; i < 5; i++) { %>
        <div>
            <div property="<%= properties[i].id %>">
                <img src="/img/listings/<%= properties[i].id %>-612.jpg">
                <p class="desc">
                    <strong><%= properties[i].name %></strong><br>
                    <%= properties[i].location %><br>
                    <%= properties[i].type %>
                </p>
            </div>
        </div>
        <% } %>
    </div>
</div>
<div class="table">
    <div>
        <% for(var i = 5; i < 8; i++) { %>
        <div>
            <div property="<%= properties[i].id %>">
                <img src="/img/listings/<%= properties[i].id %>-612.jpg">
                <p class="desc">
                    <strong><%= properties[i].name %></strong><br>
                    <%= properties[i].location %><br>
                    <%= properties[i].type %>
                </p>
            </div>
        </div>
        <% } %>
    </div>
</div>
<div class="table">
    <div>
        <div class="stacked">
        <% for(var i = 8; i < 10; i++) { %>
            <div property="<%= properties[i].id %>">
                <img src="/img/listings/<%= properties[i].id %>-612.jpg">
                <p class="desc">
                    <strong><%= properties[i].name %></strong><br>
                    <%= properties[i].location %><br>
                    <%= properties[i].type %>
                </p>
            </div>
        <% } %>
        </div>
        <div class="select">
            <div property="<%= selects[1].id %>">
                <img src="/img/listings/<%= selects[1].id %>-1024.jpg">
                <p class="desc">
                    <strong><%= selects[1].name %></strong><br>
                    <%= selects[1].location %><br>
                    <%= selects[1].type %>
                </p>
                <p class="price"><%= selects[1].price %></p>
            </div>
        </div>
    </div>
</div>
<div class="table">
    <div>
        <% for(var i = 10; i < 13; i++) { %>
        <div>
            <div property="<%= properties[i].id %>">
                <img src="/img/listings/<%= properties[i].id %>-612.jpg">
                <p class="desc">
                    <strong><%= properties[i].name %></strong><br>
                    <%= properties[i].location %><br>
                    <%= properties[i].type %>
                </p>
            </div>
        </div>
        <% } %>
    </div>
</div>
<div class="table">
    <div>
        <% for(var i = 13; i < 16; i++) { %>
        <div>
            <div property="<%= properties[i].id %>">
                <img src="/img/listings/<%= properties[i].id %>-612.jpg">
                <p class="desc">
                    <strong><%= properties[i].name %></strong><br>
                    <%= properties[i].location %><br>
                    <%= properties[i].type %>
                </p>
            </div>
        </div>
        <% } %>
    </div>
</div>