    <div class="basic select">
        <div class="aspect_fill"></div>
        <div class="element noOverflow hasTransition">
            <a href="#" class="cardButton details"><img src="/img/details_icon.png" /></a>
            <a href="#" class="cardButton contact"><img src="/img/contact_icon.png" /></a>
            <div class="front"></div>
            <div class="back"></div>
        </div>
    </div>

    <div class="basic">
        <div class="aspect_fill"></div>
        <div class="element noOverflow hasTransition">
        <a href="#" class="cardButton details"><img src="/img/details_icon.png" /></a>
        <a href="#" class="cardButton contact"><img src="/img/contact_icon.png" /></a>
            <div class="front"></div>
            <div class="back"></div>
    </div>

    <div class="basic">
        <div class="aspect_fill"></div>
        <div class="element noOverflow hasTransition">
        <a href="#" class="cardButton details"><img src="/img/details_icon.png" /></a>
        <a href="#" class="cardButton contact"><img src="/img/contact_icon.png" /></a>
            <div class="front"></div>
            <div class="back"></div>
    </div>

    <div class="basic">
        <div class="aspect_fill"></div>
        <div class="element noOverflow hasTransition">
        <a href="#" class="cardButton details"><img src="/img/details_icon.png" /></a>
        <a href="#" class="cardButton contact"><img src="/img/contact_icon.png" /></a>
            <div class="front"></div>
            <div class="back"></div>
    </div>

    <div class="basic">
        <div class="aspect_fill"></div>
        <div class="element noOverflow hasTransition">
        <a href="#" class="cardButton details"><img src="/img/details_icon.png" /></a>
        <a href="#" class="cardButton contact"><img src="/img/contact_icon.png" /></a>
            <div class="front"></div>
            <div class="back"></div>
    </div>