<%
for(var s = 0; s < numBlocksToPrint && selects; s++) {
    if(!selects[s]) break;
    //Remove top padding from the first property
    var first = (s == 0) ? 'first' : '';
%>
    <div class="basic select <%= first %>">
        <a href="#" class="flipCardButton">Flip</a>
        <div class="aspect_fill"></div>
        <div class="element noOverflow" property="<%= selects[s].attributes.homesId %>">
            <div class="front">
                <img src="<%= selects[s].attributes.primaryImage %>" class="block width100">
                <div class="blurImageContainer">
                    <img src="<%= selects[s].attributes.primaryImage %>" class="block width100">
                    <p class="desc width100 absolute whiteText">
                        <strong><%= selects[s].attributes.name %></strong><br>
                        <%= selects[s].attributes.streetAddress %>,<%= selects[s].attributes.city %>
                    </p>
                    <p class="price absolute whiteText"><%= selects[s].attributes.price.max %> - <%= selects[s].attributes.price.min %>
                    </p>
                </div>
            </div>
            <div class="back">
                <a href="#">Check Availability</a>
            </div>
        </div>
    </div>
<%
    for(var p = 0; p < numPropertiesToPrint && properties; p++) {
        var trueIndex = p + s*numPropertiesToPrint;
        if(!properties[trueIndex]) break;
%>
        <div class="basic">
            <a href="#" class="flipCardButton">Flip</a>
            <div class="aspect_fill"></div>
            <div class="element noOverflow" property="<%= properties[trueIndex].attributes.homesId %>">
                <div class="front">
                    <img src="<%= properties[trueIndex].attributes.primaryImage %>" class="block width100">
                    <div class="blurImageContainer">
                        <img src="<%= properties[trueIndex].attributes.primaryImage %>" class="block width100">                    <p class="desc width100 absolute whiteText">
                        <strong><%= properties[trueIndex].attributes.name %></strong><br>
                        <%= properties[trueIndex].attributes.streetAddress %>,<%= properties[trueIndex].attributes.city %>
                    </p>
                    <p class="price absolute whiteText"><%= properties[trueIndex].attributes.price.max %> - <%= properties[trueIndex].attributes.price.min %>
                    </p>
                    </div>
                </div>
                <div class="back">
                    <ul>
                        <li>Brand New Floorplans</li>
                        <li>Resort Style Pool</li>
                        <li>Stainless Steel Appliances</li>
                        <li>In-Home Washer &amp; Dryer</li>
                        <li>Private Pier w/ Access to Canoes, Kayaks, &amp; Fishing</li>
                        <li>21st Century Kitchens with Granite Countertops</li>
                    </ul>
                    <a href="#">Check Availability</a>
                </div>
            </div>
        </div>
<%
    }
} 
%>