    <div class="basic select">
        <div class="aspect_fill"></div>
        <div class="element noOverflow hasTransition">
            <div class="front"></div>
            <div class="back"></div>
        </div>
    </div>

    <div class="basic">
        <div class="aspect_fill"></div>
        <div class="element noOverflow hasTransition">
            <div class="front"></div>
            <div class="back"></div>
        </div>
    </div>

    <div class="basic">
        <div class="aspect_fill"></div>
        <div class="element noOverflow hasTransition">
            <div class="front"></div>
            <div class="back"></div>
        </div>
    </div>

    <div class="basic">
        <div class="aspect_fill"></div>
        <div class="element noOverflow hasTransition">
            <div class="front"></div>
            <div class="back"></div>
        </div>
    </div>

    <div class="basic">
        <div class="aspect_fill"></div>
        <div class="element noOverflow hasTransition">
            <div class="front"></div>
            <div class="back"></div>
        </div>
    </div>

        <div class="basic select">
        <div class="aspect_fill"></div>
        <div class="element noOverflow hasTransition">
            <div class="front"></div>
            <div class="back"></div>
        </div>
    </div>

    <div class="basic">
        <div class="aspect_fill"></div>
        <div class="element noOverflow hasTransition">
            <div class="front"></div>
            <div class="back"></div>
        </div>
    </div>

    <div class="basic">
        <div class="aspect_fill"></div>
        <div class="element noOverflow hasTransition">
            <div class="front"></div>
            <div class="back"></div>
        </div>
    </div>

    <div class="basic">
        <div class="aspect_fill"></div>
        <div class="element noOverflow hasTransition">
            <div class="front"></div>
            <div class="back"></div>
        </div>
    </div>

    <div class="basic">
        <div class="aspect_fill"></div>
        <div class="element noOverflow hasTransition">
            <div class="front"></div>
            <div class="back"></div>
        </div>
    </div>
    