<div id="details" class="section">
    <h2>Details</h2>
    <table class="width100">
        <tr>
            <td class="name alignLeft vAlignMiddle"><%= name %></td>
            <td class="alignCenter vAlignMiddle"><%= beds %><span class="block"> Beds</span></td>
            <td class="alignCenter vAlignMiddle">2<span class="block">Baths</span></td>
            <td class="alignCenter vAlignMiddle"><%= price.min %> - <%= price.max %><span class="block">Price</span></td>
        </tr>
    </table>
    <p><%= description %></p>
    <ul>
        <li><p class="pet_details"><%= pet_policy %></p></li>
    </ul>
    <ul>
        <li>
            <p class="hours">
                Office Hours
                <ul>
                    <li>Monday - Friday 10am - 6pm</li>
                </ul>
            </p>
        </li>
    </ul>
</div>