footer {
    bottom: 0;
    left: 0;
    height: 50px;
    color: #FFF;

    &.sticky { position: absolute; }

    >a{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 30%;
        color: #FFF;
        text-align: center;
        line-height: 50px;
        background-color: rgb(0, 54, 122);
    }

    >p{
        line-height: 50px;
        color: #FFF;
        padding-left: 25%;
    }

    div {
        >a {
            height: 50px;
            padding: 0 10px;

            &.touched { background: #333; }

            &.active {
                background: #fff;
                color: #333;
            }

            &.availability,
            &.share { color: #fff; }

            &.availability {
                background: #e97d0e;

                &.touched { background: #c60; }
            }
            
            &.share {
                background: #044a78;

                &.touched { background: #036; }
            }
        }
    }
}