footer {
    bottom: 0;
    left: 0;
    height: 50px;
    color: #FFF;

    &.sticky { position: absolute; }

    >a{
        line-height: 50px;
    }

    >a.share{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 30%;
        color: #FFF;
        text-align: center;
        background-color: rgb(0, 54, 122);
    }

    >a.more{
        float: left;
        color: #FFF;
        padding-left: 29%;
        padding-right: 29%;

        >img{
            width: 35px;
            position: absolute;
            top: 6px;
            left: 58%;
        }

        //Add this class once profile is scrolled to more info
        &.back{
            padding-left:27%;
            padding-right:27%;

            >img{
                top: 9px;
                left: 60%;
                transform:rotate(180deg);
                -ms-transform:rotate(180deg);
                -webkit-transform:rotate(180deg);
            }
        }
    }

    div {
        >a {
            height: 50px;
            padding: 0 10px;

            &.touched { background: #333; }

            &.active {
                background: #fff;
                color: #333;
            }

            &.availability,
            &.share { color: #fff; }

            &.availability {
                background: #e97d0e;

                &.touched { background: #c60; }
            }
            
            &.share {
                background: #044a78;

                &.touched { background: #036; }
            }
        }
    }
}