/* Positioning */
.absolute { position: absolute; }
.relative { position: relative; }
.fixed { position: fixed; }

/* Display Types */
.block { display: block; }
.table {
    display: table;
    border-collapse: collapse;
}
    .tableRow { display: table-row; }
        .tableCell { display: table-cell; }

.noOverflow { overflow: hidden; }

.transition { transition: all 0.5s; }

/* Float fix. */
.clearFix:after {
    content: " ";
    display: table;
    clear: both;
}

/* Borders */
.noBorder { border: 0 !important; }
.borderBox { box-sizing: border-box; }

/* Sizes */
.width100 { width: 100%; }

/* Alignment */
.alignCenter { text-align: center; }
.alignLeft { text-align: left; }
.left { float: left; }
.right { float: right; }
.vAlignMiddle { vertical-align: middle; }
.vAlignTop { vertical-align: top; }

/* Background Colors and Images */
.bgWhite { background-color: #fff; }
.transWhite80 { background: url(../img/trans-white-bg-80.png) repeat 0 0; }

/* Text */
.whiteText { color: #fff; }
.blackText { color: #000; }

/* Property Specific */
.reviewStars {
    background-image: url(../img/reviewStars.png);
    background-repeat: no-repeat;
}
.fadingGradient { background: url(../img/property-gradient.png) repeat-x 0 0; }

.pointer { cursor: pointer; }

/* Anchor Styles */
a, button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
}