header {
    top: 0;
    left: 0;
    right: 0;
    background: url(../img/trans-gray-bg.png) repeat 0 0;
    height: 49px;
    padding: 0 0 0 270px;
    border-bottom: 1px solid #044a78;
    -webkit-transform: translate3d(0, 0, 0);

    &.sticky { position: absolute; }

    >a {
        &#logo {
            width: 210px;
            height: 49px;
            top: 0;
            left: 50px;
            background: url(../img/logo.png) no-repeat center center;
        }

        &#menuBtn {
            background: url(../img/menu-button.png) no-repeat center center;
            left: 0;
            top: 0;
            height: 50px;
            width: 50px;
            border-right: 1px solid #eaeaea;
        }

        &.touched { background-color: #fff; }
    }

    >form {
        padding-top: 8px;

        >fieldset {
            padding-right: 155px;

            >input, a, button {
                color: #333;
                height: 32px;
                padding: 0;
                border: 0;
            }

            >input {
                padding: 0 10px;
                background: #fff;
                border: 1px solid #789;
            }

            >div {
                bottom: 0;
                right: 0;

                >a, >button {
                    &.touched { background-color: #bbb; }
                }

                >a {
                    width: 45px;
                    background-image: url(../img/home-adv-search-small.png);
                    background-repeat: no-repeat;
                    background-position: center center;
                    margin-right: 5px;
                }

                >button {
                    line-height: 30px;
                    width: 100px;
                    color: #044a78;
                    background: transparent;
                }
            }
        }
    }
}