
#content.property {
    >a {
        background-repeat: no-repeat;
        background-position: 0 0;

        &#swipeHorizArrow {
            right: 35px;
            top: 40%;
            width: 55px;
            height: 94px;
            background-image: url(../img/swipe-arrow-left.png);

            &.reverse { background-image: url(../img/swipe-arrow-right.png); }
        }

        &#swipeVertArrow {
            left: 45%;
            bottom: 60px;
            width: 94px;
            height: 55px;
            background-image: url(../img/swipe-arrow-down.png);
        }
    }
}
#video_lightbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    z-index: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s;

    &.show{
        opacity: 1;
        z-index: 100;
        pointer-events: all;

        >.video_container{
            pointer-events: all;

            >video{
                pointer-events: all;
                display: block;
            }
        }

    }

    >.video_container{
        position: absolute;
        width: 600px;
        height: 400px;
        top: 50%;
        margin-top: -200px;
        left: 50%;
        margin-left: -300px;
        background-color: #000;

        >video{
            width: 100%;
            height: 100%;
            display: none;
        }
    }

    >.close_button{
        position: absolute;
        top: 20px;
        right: 20px;
        color: #FFF;
    }
}
    #gallery {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: -webkit-filter 1s;

        >img {
            position: absolute;
            pointer-events: none;

            &.moving { transition: -webkit-transform 0.4s; }
        }
    }

    #teaser {
        width: 43%;
        min-width: 300px;
        max-width: 400px;
        padding-left: 15px;
        //padding-top: 50px;

        >div.info {
            padding: 10px 0 0;
            margin: 50px 0 0 0;
            overflow:hidden;

            >h2 {
                font-size: 130%;
                padding: 10px 20px 0;
                background-color: rgba(255,255,255,0.8)
            }

            >p, >div {
                position: relative;
                padding: 10px 20px;
                margin: 0 0 4px 0;
                padding-right: 60px;

                &.clickable {
                    background: rgba(255,255,255,0.8) url(../img/arrow-down.png) no-repeat 95% 50%;

                    &.touched { background-color: #fff; }

                    &[section=video]{
                        padding: 60px 20px;
                    }

                    >.video_thumb{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        background-size: 100% auto;
                        background-position-y: 65%;

                        >img{
                            position: absolute;
                            left: 50%;
                            margin-left: -40px;
                            top: 50%;
                            margin-top: -40px;
                        }
                    }

                }

                >#webReview {
                    height: 21px;
                    line-height: 21px;
                    background-position: 87px 0;
                }

                >a { color: #22567e; }
                >a, >small { font-size: 70%; }
            }
        }

        >.buttons {
            margin-top: 0;

            .tableCell {
                width: 48%;

                >button {
                    height: 60px;
                    line-height: 60px;

                    &.touched { background: #fff; }

                    &#buttonCA {
                        background: #e97d0e;

                        &.touched { background: #c60; }
                    }
                }

                &#buttonSpacer { width: 4%; }
            }
        }
    }

    #more {
        .tableCell.form { width: 30%; background-color: #FFF;}
    }

        #propertyNav {
            padding: 5%;
            width: 90%;
            height: 50%;
            background-color: rgba(255,255,255,0.9);
        }
        #guestCard {
            padding: 5.5%;
            width: 90%;
            height: 50%;
            top: 50%;
            background: #f2a468;
            color: #FFF;

            >h3 {
                margin-bottom: 2px;
                font-size: 120%;
            }

            >p {
                margin: 3px 0 12px;
                color: #044a78;
                font-size: 80%;
            }

            >fieldset {
                margin: 0;

                ::-webkit-input-placeholder {
                   color: #FFF;
                }

                :-moz-placeholder { /* Firefox 18- */
                   color: #FFF;  
                }

                ::-moz-placeholder {  /* Firefox 19+ */
                   color: #FFF;  
                }

                :-ms-input-placeholder {  
                   color: #FFF;  
                }

                >input, >textarea {
                    padding: 5px;
                    margin-top: 10px;
                    border: none;
                    background: rgba(255,255,255,0.15);
                    -webkit-border-radius: 0;
                    border-radius: 0;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }

                >input { font-size: 90%; }

                >textarea {
                    font-size: 80%;
                    height: 75px;
                }

                >button {
                    background: #e97d0e;
                    border: 1px solid #dc6104;
                    padding: 8px 5px;
                    margin-top: 10px;

                    &.touched { background: #c60; }
                }
            }
        }

        #floorplans {
            padding: 10px 0;

            >table {
                td {
                    padding: 15px 30px;
                    font-size: 110%;
                    border-bottom: 1px solid #ccc;

                    >a {
                        font-size: 70%;
                        color: #044a78;
                        padding-top: 2px;
                    }

                    &.moredetails{
                        display: none;

                        &.show{
                            display: block;
                        }
                    }
                }
            }
        }

        /**************/

        #reviews {
            padding: 15px;

            >p {
                padding: 20px 25px 20px 25px;
                border-top: 1px solid #ccc;
                background-position: 93% 15%;
                line-height: 18px;

                >strong {
                    font-size: 130%;
                    margin-bottom: 12px;
                }

                >span {
                    margin-top: 8px;
                    color: #044a78;
                    font-size: 80%;
                }
            }
        }


        /**************/

        #details {
            padding: 25px 25px 35px;

            >table {
                margin-bottom: 20px;

                td {
                    font-size: 110%;

                    &.name { font-size: 130%; }

                    >span {
                        font-size: 70%;
                        color: #044a78;
                        padding-top: 2px;
                    }
                }
            }

            >p { line-height: 18px; }
        }

        /***************/

        #map {
            padding: 25px;

            >img { margin-bottom: 25px; }
            >a {
                padding: 7px 20px;
                border-radius: 5px;
                border: 1px solid #aaa;
                background: #ddd;
                color: #333;
            }
            >p {
                background: url(../img/map-pin.png) no-repeat 0 0;
                padding-left: 30px;
                font-size: 110%;
                margin: 0;
                height: 35px;
                line-height: 30px;
            }
        }
