#content.property {
    >a {
        background-repeat: no-repeat;
        background-position: 0 0;

        &#swipeHorizArrow {
            right: 35px;
            top: 40%;
            width: 55px;
            height: 94px;
            background-image: url(../img/swipe-arrow-left.png);

            &.reverse { background-image: url(../img/swipe-arrow-right.png); }
        }

        &#swipeVertArrow {
            left: 45%;
            bottom: 60px;
            width: 94px;
            height: 55px;
            background-image: url(../img/swipe-arrow-down.png);
        }
    }
}

    #gallery {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);

        >img {
            position: absolute;
            pointer-events: none;

            &.moving { transition: -webkit-transform 0.4s; }
        }
    }

    #teaser {
        width: 43%;
        min-width: 300px;
        padding-left: 3%;

        >div.info {
            padding: 20px 0;
            margin: 3% 0 0;
            overflow:hidden;

            >h2 {
                font-size: 130%;
                padding: 0 20px;
            }

            >p {
                padding: 20px;
                padding-right: 60px;
                border-bottom: 1px solid #ddd;

                &.clickable {
                    background: url(../img/arrow-down.png) no-repeat 95% 50%;

                    &.touched { background-color: #fff; }
                }

                >#webReview {
                    height: 21px;
                    line-height: 21px;
                    background-position: 87px 0;
                }

                >a { color: #22567e; }
                >a, >small { font-size: 70%; }
            }
        }

        >.buttons {
            margin-top: 15px;

            .tableCell {
                width: 48%;

                >button {
                    height: 60px;
                    line-height: 60px;

                    &.touched { background: #fff; }

                    &#buttonCA {
                        background: #e97d0e;

                        &.touched { background: #c60; }
                    }
                }

                &#buttonSpacer { width: 4%; }
            }
        }
    }

    #more {
        .tableCell.form { width: 40%; }
    }

        #guestCard {
            margin: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 15px;

            >h3 {
                margin-bottom: 2px;
                font-size: 120%;
            }

            >p {
                margin: 3px 0 12px;
                color: #044a78;
                font-size: 80%;
            }

            >fieldset {
                margin: 0;
                padding: 10px 12px;
                background: #eaeaea;

                >input, >textarea {
                    padding: 5px;
                    border: 1px solid #aaa;
                }

                >input { font-size: 90%; }

                >textarea {
                    font-size: 80%;
                    height: 75px;
                }

                >button {
                    background: #e97d0e;
                    border: 1px solid #dc6104;
                    padding: 8px 5px;

                    &.touched { background: #c60; }
                }
            }
        }

        #floorplans {
            padding: 10px 0;

            >table {
                td {
                    padding: 15px 30px;
                    font-size: 110%;
                    border-bottom: 1px solid #ccc;

                    >a {
                        font-size: 70%;
                        color: #044a78;
                        padding-top: 2px;
                    }

                    &.moredetails{
                        display: none;

                        &.show{
                            display: block;
                        }
                    }
                }
            }
        }

        /**************/

        #reviews {
            padding: 15px;

            >p {
                padding: 20px 25px 20px 25px;
                border-top: 1px solid #ccc;
                background-position: 93% 15%;
                line-height: 18px;

                >strong {
                    font-size: 130%;
                    margin-bottom: 12px;
                }

                >span {
                    margin-top: 8px;
                    color: #044a78;
                    font-size: 80%;
                }
            }
        }


        /**************/

        #details {
            padding: 25px 25px 35px;

            >table {
                margin-bottom: 20px;

                td {
                    font-size: 110%;

                    &.name { font-size: 130%; }

                    >span {
                        font-size: 70%;
                        color: #044a78;
                        padding-top: 2px;
                    }
                }
            }

            >p { line-height: 18px; }
        }

        /***************/

        #map {
            padding: 25px;

            >img { margin-bottom: 25px; }
            >a {
                padding: 7px 20px;
                border-radius: 5px;
                border: 1px solid #aaa;
                background: #ddd;
                color: #333;
            }
            >p {
                background: url(../img/map-pin.png) no-repeat 0 0;
                padding-left: 30px;
                font-size: 110%;
                margin: 0;
                height: 35px;
                line-height: 30px;
            }
        }
