#content.search {
    padding: 0 0 0 1%;
    padding-top: 60px;
    width: 100%;
    overflow: scroll;

    .basic {
        display: inline-block;
        position: relative;
        width: 30%;
        margin: 1.5% 0 0 1.5%;
    }
        .basic .aspect_fill {
            padding-top: 75%; /* 4:3 aspect ratio */
        }
        .basic .element {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: silver /* show me! */
        }
        .basic img {
            position: absolute;
            -webkit-transform: scale(1.1);
        }
    .select {
        width: 62%;
        margin: 1.5% 0 0 1.5%;
    }
        .select .aspect_fill {
            padding-top: 36%; /* 4:3 aspect ratio */
        }
        .select img {
            top: -25%;
        }

    &.showMap{
        width: 50%;

        .basic {
            width: 47%;
            margin: 1.5% 0 0 1.5%;
        }
            .basic .aspect_fill {
                padding-top: 75%; /* 4:3 aspect ratio */
            }
        .select {
            width: 96%;
            margin: 1.5% 0 0 1.5%;
        }
            .select .aspect_fill {
                padding-top: 40%; /* 4:3 aspect ratio */
            }
    }
    
    .select.first{
        margin-top: 0;
    }

}
    #map-canvas {
        position: fixed;
        top: 60px;
        left: 50%;
        width: 49%;
        margin: 0 0 1% 1%;
        display: none;

        &.showMap{
            display: block;
        }
    }
    #results {
        background: url(../img/search-loading.gif) no-repeat bottom center;
        padding-bottom: 20px;
        overflow: auto;

        .tableCell {
            padding: 0 0 2% 2%;
            width: 31%;

            &.select { width: 63%; }

            &.stacked {
                >div:first-child { margin-bottom: 20px; }
            }

            >div {
                >img {
                    max-height: 100%;
                    max-width: 100%;
                }

                >p {
                    margin: 0;
                    padding: 15px;
                    bottom: 0;

                    &.price {
                        right: 0;
                        font-size: 130%;
                    }

                    &.desc {
                        >strong { font-size: 110%; }

                        font-size: 90%;
                        line-height: 18px;
                        padding-top: 45px;
                    }
                }
            }
        }
    }