#content.search {
    padding: 0 0 0 1%;
    padding-top: 60px;
    width: 100%;
    overflow: scroll;

    .basic {
        display: inline-block;
        position: relative;
        width: 30%;
        margin: 0 0 1.5% 1.5%;
        -webkit-transition: width 0.1s;
    }
        .basic .aspect_fill {
            padding-top: 75%; /* 4:3 aspect ratio */
        }
        .basic .element {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: silver /* show me! */
        }
        .basic img {
            position: absolute;
            -webkit-transform: scale(1.1);
        }
    .select {
        width: 62%;
    }
        .select .aspect_fill {
            padding-top: 36%; /* 4:3 aspect ratio */
        }
        .select img {
            top: -25%;
        }

    &.showMap{
        width: 50%;

        .basic {
            width: 47%;
        }
            .basic .aspect_fill {
                padding-top: 75%; /* 4:3 aspect ratio */
            }
        .select {
            width: 96%;
        }
            .select .aspect_fill {
                padding-top: 40%; /* 4:3 aspect ratio */
            }

        //This code is only necessary for desktop resizing
        //as it is taken care of by orientation media query
        &.portrait{
            width: 100%;
            height: 50%;
            position: fixed;
            top: 50%;
            padding: 0;

            .basic {
                width: 31%;
            }
                .basic .aspect_fill {
                    padding-top: 75%;
                }
            .select {
                width: 64%;
            }
                .select .aspect_fill {
                    padding-top: 36%;
                }
        }
    }
    
    .select.first{
        margin-top: 0;
    }

}
    #map-canvas {
        position: fixed;
        top: 6%;
        left: 50%;
        width: 49%;
        margin: 0 0 1% 1%;
        display: none;

        &.showMap{
            display: block;

            //This code is only necessary for desktop resizing
            //as it is taken care of by orientation media query
            &.portrait{
                height: 42.5%;
                width: 97%;
                margin: 0 0 1% 1.5%;
                left: 0;
            }
        }

        .marker{
            &.premier{
                position: absolute;
                top: -63px;
                left: -57px;
                width:67px;
                height: 63px;
                background:url(../img/pmarker.png);
                background-size: 67px 63px;
            }
            &.basic{
                position: relative;
                width:24px;
                height: 30px;
                background:url(../img/marker.png);
                background-size: 24px 30px;
                z-index: 1;
            }

            .count{
                position: absolute;
                top: 0;
                left: 0;
                width: 24px;
                height: 24px;
                text-align: center;
                margin-top: 6px;
                font-size: 12px;
                color: #000;
                font-weight: bold;
            }
            .img_container{
                float: left;
                width: 52px;
                height: 33px;
                margin: 18px 0 0 12px;
                overflow: hidden;
                >img{
                    width: 100%;
                }
            }
        }
    }
    #results {
        background: url(../img/search-loading.gif) no-repeat bottom center;
        padding-bottom: 20px;
        overflow: auto;

        .tableCell {
            padding: 0 0 2% 2%;
            width: 31%;

            &.select { width: 63%; }

            &.stacked {
                >div:first-child { margin-bottom: 20px; }
            }

            >div {
                >img {
                    max-height: 100%;
                    max-width: 100%;
                }

                >p {
                    margin: 0;
                    padding: 15px;
                    bottom: 0;

                    &.price {
                        right: 0;
                        font-size: 130%;
                    }

                    &.desc {
                        >strong { font-size: 110%; }

                        font-size: 90%;
                        line-height: 18px;
                        padding-top: 45px;
                    }
                }
            }
        }
    }