#content.search {
    padding: 0 0 0 1%;
    padding-top: 60px;
    width: 100%;
    overflow: scroll;

    .basic {
        display: inline-block;
        position: relative;
        width: 30%;
        margin: 0 0 1.5% 1.5%;
        -webkit-transition: width 0.1s;
        -webkit-perspective: 1000;

        >.desc{
            
        }

        >.price{
            bottom: 0;
        }
    }
        .basic .aspect_fill {
            padding-top: 75%;
        }
        .basic .element {
            position: absolute;
            -webkit-transition: 0.3s;
            -webkit-transform-style: preserve-3d;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: visible;
            background-color: silver;
                -webkit-backface-visibility: hidden;

            &.flip{
                -webkit-transform: rotateY(180deg);
            }

            .front, .back {
                -webkit-backface-visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            .front{
                z-index: 1;
                -webkit-transform:rotateY(0deg);
            }
            .back{
                background: #F1F1F1;
                -webkit-transform: translate3d(0,0,0);
                -webkit-transform: rotateY(180deg);
                box-shadow: 0 0 0 1px #CCC inset;

                >a{
                    position: fixed;
                    bottom: 0;
                    margin: 5%;
                    height: 15px;
                    width: 90%;
                    padding: 15px 0;
                    text-align: center;
                    -webkit-border-radius: 8px;
                    background: #F90;
                    color: #FFF;
                    text-decoration: none;
                    font-size: 16px;
                    font-family: 'Helvetica';
                    box-shadow: 0 0 0 1px #FFF inset;
                }

                >ul{
                    padding: 0;
                    margin: 6% 8% 6% 12%;
                    width: 84%;
                    font-size: 10px;
                    position: absolute;
                    z-index: 0;
                    list-style: circle;

                    >li{
                        margin: 0;
                        padding: 0;
                        float: left;
                        width: 50%;
                    }
                }
            }
        }
        .basic img {
            position: absolute;
            -webkit-transform: scale(1.1);
        }
        .basic .blurImageContainer{
            position: fixed;
            width: 100%;
            height: 20%;
            left: 0;
            bottom: 0;
            z-index: 1;
            overflow: hidden;
            background: #000;

            >img{
                -webkit-filter: blur(5px);
                top: -420%;
                opacity: 0.8;
            }
        }
    .select {
        width: 62%;

        >.aspect_fill {
            padding-top: 36%; /* 4:3 aspect ratio */
        }
        >img {
            top: -25%;
        }

        >.blurImageContainer{
            >img{
                top: -540%;
            }
        }
    }

    &.showMap{
        width: 50%;

        .basic {
            width: 47%;
        }
            .basic .aspect_fill {
                padding-top: 75%; /* 4:3 aspect ratio */
            }
        .select {
            width: 96%;
        }
            .select .aspect_fill {
                padding-top: 40%; /* 4:3 aspect ratio */
            }

        //This code is only necessary for desktop resizing
        //as it is taken care of by orientation media query
        &.portrait{
            width: 100%;
            height: 50%;
            position: fixed;
            top: 50%;
            padding: 0;

            .basic {
                width: 31%;
            }
                .basic .aspect_fill {
                    padding-top: 75%;
                }
            .select {
                width: 64%;
            }
                .select .aspect_fill {
                    padding-top: 36%;
                }
        }
    }
    
    .select.first{
        margin-top: 0;
    }

}
    #map-canvas {
        position: fixed;
        top: 6%;
        left: 50%;
        width: 49%;
        margin: 0 0 1% 1%;
        display: none;

        &.showMap{
            display: block;

            //This code is only necessary for desktop resizing
            //as it is taken care of by orientation media query
            &.portrait{
                height: 42.5%;
                width: 97%;
                margin: 0 0 1% 1.5%;
                left: 0;
            }
        }

        .marker{
            &.premier{
                position: absolute;
                top: -63px;
                left: -57px;
                width:67px;
                height: 63px;
                background:url(../img/pmarker.png);
                background-size: 67px 63px;
            }
            &.basic{
                position: relative;
                width:24px;
                height: 30px;
                background:url(../img/marker.png);
                background-size: 24px 30px;
                z-index: 1;
            }

            .count{
                position: absolute;
                top: 0;
                left: 0;
                width: 24px;
                height: 24px;
                text-align: center;
                margin-top: 6px;
                font-size: 12px;
                color: #000;
                font-weight: bold;
            }
            .img_container{
                float: left;
                width: 52px;
                height: 33px;
                margin: 18px 0 0 12px;
                overflow: hidden;
                >img{
                    width: 100%;
                }
            }
        }
    }
    #results {
        overflow: auto;
        padding-bottom: 20px;
        
        &.loading{
            background: url(../img/search-loading.gif) no-repeat bottom center;
        }

        .tableCell {
            padding: 0 0 2% 2%;
            width: 31%;

            &.select { width: 63%; }

            &.stacked {
                >div:first-child { margin-bottom: 20px; }
            }

            >div {
                >img {
                    max-height: 100%;
                    max-width: 100%;
                }

                >p {
                    margin: 0;
                    padding: 15px;
                    bottom: 0;

                    &.price {
                        right: 0;
                        font-size: 130%;
                    }

                    &.desc {
                        >strong { font-size: 110%; }

                        font-size: 90%;
                        line-height: 18px;
                        padding-top: 45px;
                    }
                }
            }
        }
    }