#content.search {
    padding: 0 0 0 1%;
    padding-top: 60px;
    width: 100%;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;

    .basic {
        display: inline-block;
        position: relative;
        width: 30%;
        margin: 0 0 1.5% 1.5%;
        -webkit-transition: width 0.1s;
        -webkit-perspective: 1000;
    }
        .basic .aspect_fill {
            padding-top: 75%;
        }
        .basic .element {
            position: absolute;
            -webkit-transform-style: preserve-3d;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: visible;
            -webkit-backface-visibility: hidden;

            &.flip{
                -webkit-transform: rotateY(180deg);
            }

            &.hasTransition{
                -webkit-transition: 0.3s;
            }

            &.noTransition{
                -webkit-transition: none;
            }

            &.flipped{
                -webkit-transform: rotateY(0deg);

                >.front{
                    display: none;
                }
                >.back{
                    -webkit-transform: rotateY(0deg);
                }
                >.cardButton{
                    display: none;
                }
            }

            >.cardButton{
                position: absolute;
                top: 5px;
                height: 29px;
                width: 44px;
                color: #FFF;
                z-index: 10;
                -webkit-backface-visibility: hidden;

                > img{
                    width: 33px;
                    margin: 0;
                    padding: 0;
                }

                &.contact{
                    right: 0;
                }

                &.details{
                    left: 5px;
                }
            }

            .front, .back {
                -webkit-backface-visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-color: #CCC;
            }
            .front{
                z-index: 1;
                -webkit-transform:rotateY(0deg);
            }
            .back{
                -webkit-transform: translate3d(0,0,0);
                -webkit-transform: rotateY(180deg);
                box-shadow: 0 0 0 1px #CCC inset;

                >form{
                    margin: 5%;
                    width: 90%;
                    position: absolute;

                    >input{
                        width: 50%;
                        float: left;
                    }

                    >textarea{
                        width: 43%;
                        margin-left: 1.5%;
                        height: 91px;
                    }
                }

                >a{
                    position: fixed;
                    bottom: 0;
                    margin: 5%;
                    height: 15px;
                    width: 90%;
                    padding: 15px 0;
                    text-align: center;
                    -webkit-border-radius: 8px;
                    background: #F90;
                    color: #FFF;
                    text-decoration: none;
                    font-size: 16px;
                    font-family: 'Helvetica';
                    box-shadow: 0 0 0 1px #FFF inset;
                }

                >ul{
                    padding: 0;
                    margin: 6% 8% 6% 12%;
                    width: 84%;
                    font-size: 10px;
                    position: absolute;
                    z-index: 0;
                    list-style: circle;

                    >li{
                        margin: 0;
                        padding: 0;
                        float: left;
                        width: 50%;
                    }
                }
            }
        }
        .basic img {
            position: absolute;
            -webkit-transform: scale(1.1);
        }
        .basic .blurImageContainer{
            position: fixed;
            width: 100%;
            height: 30%;
            left: 0;
            bottom: 0;
            z-index: 1;
            overflow: hidden;
            background: #000;
            border-top: solid 1px rgba(255,255,255,0.5);

            >.desc{
                font-size: 1.5vw;
            }

            >.price{
                bottom: 0;
                color: #fff903
            }

            >img{
                -webkit-filter: blur(5px);
                top: -235%;
                opacity: 0.8;
            }
        }
    .select {
        width: 62%;

        >.aspect_fill {
            padding-top: 36%; /* 4:3 aspect ratio */
        }
        >img {
            top: -25%;
        }

        >.blurImageContainer{
            >img{
                top: -540%;
            }
        }
    }

    &.showMap{
        width: 50%;

        .basic {
            width: 47%;
        }
            .basic .aspect_fill {
                padding-top: 75%; /* 4:3 aspect ratio */
            }
        .select {
            width: 96%;
        }
            .select .aspect_fill {
                padding-top: 40%; /* 4:3 aspect ratio */
            }

        //This code is only necessary for desktop resizing
        //as it is taken care of by orientation media query
        &.portrait{
            width: 100%;
            height: 50%;
            position: fixed;
            top: 50%;
            padding: 0;

            .basic {
                width: 31%;
            }
                .basic .aspect_fill {
                    padding-top: 75%;
                }
            .select {
                width: 64%;
            }
                .select .aspect_fill {
                    padding-top: 36%;
                }
        }
    }
    
    .select.first{
        margin-top: 0;
    }

    .select.moreInfo{
        background: #F1F1F1;
        box-shadow: 0 0 0 1px #CCC inset;

        > img{
            position: absolute;
            height: 87%;
            top: 7%;
            left: 3.5%;
        }

        > p{
            position: absolute;
            right: 10px;
            top: 5px;
            width: 46%;
        }

        > a{
            position: absolute;
            right: 10px;
            bottom: 10px;
            width: 46%;
        }
    }
}
    #map-canvas {
        position: fixed;
        top: 60px;
        left: 50%;
        width: 49%;
        margin: 0 0 1% 1%;
        background: url(../img/large_map_sample.png) center;
        background-size: auto 100%;
        display: none;

        &.showMap{
            display: block;

            //This code is only necessary for desktop resizing
            //as it is taken care of by orientation media query
            &.portrait{
                height: 42.5%;
                width: 97%;
                margin: 0 0 1% 1.5%;
                left: 0;
            }
        }
    }
    

    .marker{
        top: 0;
        left: 0;
        position: absolute;
        z-index: 1;
        -webkit-transition: -webkit-transform 0.2s ease-out;

        &.premier{
            top: -63px;
            left: -57px;
            width:67px;
            height: 63px;
            background:url(../img/pmarker.png);
            background-size: 67px 63px;
        }
        &.basic{
            width:24px;
            height: 30px;
            background:url(../img/marker.png);
            background-size: 24px 30px;
        }
        &.simple{
            width: 12px;
            height: 12px;
            background:url(../img/smarker.png);
            background-size: 12px 12px;
        }

        &.active{
            -webkit-transform: scale(1.5);
            z-index: 1000;
        }

        .count{
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            text-align: center;
            margin-top: 6px;
            font-size: 12px;
            color: #000;
            font-weight: bold;
        }
        .img_container{
            float: left;
            width: 52px;
            height: 33px;
            margin: 18px 0 0 12px;
            overflow: hidden;
            >img{
                width: 100%;
            }
        }
    }

    .map_loader{
        position: fixed;
        width: 100%;
        background: rgba(23, 116, 255, 0.23);
        bottom: 0;
        color: #FFF;
        font-size: 2vw;
        padding: 1%;
    }

    #results {
        padding-bottom: 20px;
        
        &.loading{
            background: url(../img/search-loading.gif) no-repeat bottom center;
        }

        .tableCell {
            padding: 0 0 2% 2%;
            width: 31%;

            &.select { width: 63%; }

            &.stacked {
                >div:first-child { margin-bottom: 20px; }
            }

            >div {
                >img {
                    max-height: 100%;
                    max-width: 100%;
                }

                >p {
                    margin: 0;
                    padding: 15px;
                    bottom: 0;

                    &.price {
                        right: 0;
                        font-size: 130%;
                    }

                    &.desc {
                        >strong { font-size: 110%; }

                        font-size: 90%;
                        line-height: 18px;
                        padding-top: 45px;
                    }
                }
            }
        }
    }