html {
    background: #eaeaea;
    background-attachment: fixed;
    font-family: "helvetica", helvetica, arial;
    font-size: 16px;

    &.home2048 { background: url(../img/home-bg-2048.jpg) no-repeat center center; }
    &.home1536 { background: url(../img/home-bg-1536.jpg) no-repeat center center; } 
    &.home1024 { background: url(../img/home-bg-1024.jpg) no-repeat center center; }
    &.home768 { background: url(../img/home-bg-768.jpg) no-repeat center center; }

    body {
        position: relative;

        >#content { padding-top: 50px; }

        header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background: url(../img/trans-white-bg.png) repeat 0 0;
            height: 49px;
            padding: 0 0 0 260px;
            transition: all 0.5s;
            border-bottom: 1px solid #044a78;

            &:after {
                content: " ";
                display: table;
                clear: both;
            }

            &.sticky { position: absolute; }

            >a {
                display: block;
                cursor: pointer;
                position: absolute;

                &#logo {
                    width: 160px;
                    left: 66px;
                    top: 15px;
                }

                &#menuBtn {
                    background: url(../img/menu-button.png) no-repeat center center;
                    left: 0;
                    top: 0;
                    height: 50px;
                    width: 50px;
                    border-right: 1px solid #eaeaea;
                }
            }

            >form {
                display: block;
                position: relative;
                padding-top: 8px;
                transition: all 1s;

                >fieldset {
                    position: relative;
                    padding-right: 155px;

                    &:after {
                        content: " ";
                        clear: both;
                        display: table;
                    }

                    >input, a, button {
                        display: block;
                        color: #333;
                        border-radius: 8px;
                        border: 0;
                        height: 32px;
                        padding: 0;
                        box-sizing: border-box;
                        outline: none;
                        cursor: pointer;
                        font-size: 100%;
                    }

                    >input {
                        padding: 0 10px;
                        font-family: "helvetica", arial;
                        width: 100%;
                        background: #eaeaea;
                        border: 1px solid #044a78;
                    }

                    >div {
                        position: absolute;
                        bottom: 0;
                        right: 0;

                        >a, >button { float: left; }

                        >a {
                            width: 45px;
                            background-image: url(../img/home-adv-search-small.png);
                            background-repeat: no-repeat;
                            background-position: center center;
                            margin-right: 5px;
                        }

                        >button {
                            line-height: 30px;
                            width: 100px;
                            text-align: center;
                            transition: all 1s;
                            color: #044a78;
                            background: transparent;
                        }
                    }
                }
            }
        }

        >footer {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 50px;
            width: 100%;
            background: url(../img/trans-bg.png) repeat 0 0;
            transition: all 0.5s;

            &.sticky { position: absolute; }

            >nav {
                display: table;
                border-collapse: collapse;
                width: 100%;

                >div {
                    display: table-row;

                    >a {
                        display: table-cell;
                        color: #fff;
                        font-size: 100%;
                        height: 50px;
                        vertical-align: middle;
                        text-align: center;
                        cursor: pointer;
                        padding: 0 10px;

                        &.active {
                            background: #fff;
                            color: #333;
                        }

                        &.availability,
                        &.share { color: #fff; }
                        &.availability { background: #e97d0e; }
                        &.share { background: #044a78; }
                    }
                }
            }
        }

        >nav {
            position: fixed;
            top: 50px;
            left: -250px;
            width: 220px;
            background: url(../img/trans-white-bg.png) repeat 0 0;
            padding: 15px 15px 35px;
            transition: all 0.5s;

            &.sticky { position: absolute; }

            >a {
                display: block;
                text-decoration: none;
                cursor: pointer;
                outline: none;
                color: #333;
                font-size: 130%;
                padding: 8px 10px;
            }
        }

        input.error, textarea.error {
            border: 1px solid #600 !important;
            color: #c00 !important;
            background: #fdd !important;
        }
    }
}