html {
    background: #eaeaea;
    background-attachment: fixed;
    font-family: "helvetica", helvetica, arial;
    font-size: 16px;

    &.home2048 { background: url(../img/home-bg-2048.jpg) no-repeat center center; }
    &.home1536 { background: url(../img/home-bg-1536.jpg) no-repeat center center; } 
    &.home1024 { background: url(../img/home-bg-1024.jpg) no-repeat center center; }
    &.home768 { background: url(../img/home-bg-768.jpg) no-repeat center center; }

    body {
        position: relative;

        header {
            position: relative;
            background: #014876;
            height: 28px;
            padding: 11px 25px;
            transition: all 0.5s;

            &:after {
                content: " ";
                display: table;
                clear: both;
            }

            >a {
                display: block;
                cursor: pointer;
                float: left;
                margin-right: 20px;

                &#menu {
                    background: url(../img/menu-button.png) no-repeat center center;
                    height: 26px;
                    width: 36px;
                    border: 1px solid #093552;
                }
            }
        }

        >footer {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 50px;
            width: 100%;
            background: url(../img/trans-bg.png) repeat 0 0;
            transition: all 0.5s;
        }

        >nav {
            position: absolute;
            top: 50px;
            left: -250px;
            width: 220px;
            background: url(../img/trans-white-bg.png) repeat 0 0;
            padding: 15px 15px 35px;
            transition: all 0.5s;

            >a {
                display: block;
                text-decoration: none;
                cursor: pointer;
                outline: none;
                color: #333;
                font-size: 130%;
                padding: 8px 10px;
            }
        }
    }
}