/**
 * Layout widths:
 * 10" Landscape ~1024px
 * 7" Landscape ~857px
 * 10" Portrait ~768px
 * 7" Portrait ~617px
 */

/* <= 900px */
@media screen and (max-width: 900px) {
    html {
        font-size: 15px;

        body {
            >#content.home {
                >section {
                    >div:first-child { display: none; }
                    >div { width: 31%; }
                }
            }
        }
    }
}

/* <= 800px */
@media screen and (max-width: 800px) {
    html {
        font-size: 14px;

        body {
            >#content.home {
                >form {
                    >fieldset {
                        padding-right: 180px;
                        >div {
                            >button { width: 105px; }
                        }
                    }
                }

                >section {
                    >div { font-size: 110%; }
                }
            }
        }
    }
}

/* <= 700px */
@media screen and (max-width: 700px) {
    html {
        font-size: 12px;

        body {
            >#content.home {
                >form {
                    width: 90%;

                    >fieldset {
                        padding-right: 160px;
                        >div {
                            >button { width: 85px; }
                        }
                    }
                }

                >section {
                    >div:first-child+div { display: none; }
                    >div {
                        width: 48%;
                        font-size: 120%;
                    }
                }
            }
        }
    }
}



/**
 * Restrictions based on height.
 */
@media screen and (max-height: 700px) {
    html {
        body {
            header { padding: 6px 25px;}

            >#content.home {
                >form { padding: 20px 30px 30px; }
            }

            >footer { height: 40px; }

            >nav { top: 40px; }
        }
    }
}

@media screen and (max-height: 615px) {
    html {
        body {
            >#content.home {
                >form { margin-top: 25px; }

                >section {
                    height: 210px;

                    >div { height: 200px; }
                }
            }
        }
    }
}

@media screen and (max-height: 570px) {
    html {
        body {
            >#content.home {
                >section {
                    height: 185px;

                    >div { height: 175px; }
                }
            }
        }
    }
}

@media screen and (max-height: 515px) {
    html {
        body {
            >#content.home {
                >section {
                    height: 150px;
                    margin-top: 25px;

                    >div {
                        height: 140px;

                        >p { padding: 5px 15px; }
                    }
                }
            }
        }
    }
}