<ul id="apartmentAmenities" class="block-grid p20 searchAmenitiesContent">
    <li>
        <label class="unit flexUnit txtN" for="airconditioning">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="1" id="airconditioning">Air Conditioning</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="alarmsystem">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="2" id="alarmsystem">Alarm System</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="tv">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="7" id="tv">Cable or Satellite</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="ceilingfan">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="10" id="ceilingfan">Ceiling Fan</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="dishwasher">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="17" id="dishwasher">Dishwasher</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="extrastorage">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="20" id="extrastorage">Extra Storage</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="fireplace">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="21" id="fireplace">Fireplace</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="furnishedavailable">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="24" id="furnishedavailable">Furnished Available</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="hardwoodfloors">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="28" id="hardwoodfloors">Hardwood Floors</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="wwwhi">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="32" id="wwwhi">High Speed Internet Access</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="microwave">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="36" id="microwave">Microwave</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="patiorbalcony">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="37" id="patiorbalcony">Patio or Balcony</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="view">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="53" id="view">View</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="walkinclosets">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="54" id="walkinclosets">Walk-in Closets</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="washerdryerhook">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="55" id="washerdryerhook">Washer/Dryer Hookups</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="washerdryer">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="56" id="washerdryer">Washer/Dryer in Unit</label>
    </li>
    <li>
        <label class="unit flexUnit txtN" for="wwwwire">
            <input type="checkbox" name="amenities[]" class="unit mr5" value="87" id="wwwwire">Wireless Internet Access</label>
    </li>
</ul>
