<div class="basic select <%= first %>">
    <div class="aspect_fill"></div>
    <div class="element noOverflow hasTransition" property="<%= selects[s].attributes.homesId %>">
        <a href="#" class="cardButton details"><img src="/img/details_icon.png" /></a>
        <a href="#" class="cardButton contact"><img src="/img/contact_icon.png" /></a>
        <div class="front">
            <img src="<%= selects[s].attributes.primaryImage %>" class="block width100">
            <div class="blurImageContainer">
                <img src="<%= selects[s].attributes.primaryImage %>" class="block width100">
                <p class="desc width100 absolute whiteText">
                    <strong><%= selects[s].attributes.name %></strong><br>
                    <%= selects[s].attributes.streetAddress %>,<%= selects[s].attributes.city %>
                </p>
                <p class="price absolute whiteText"><%= selects[s].attributes.price.max %> - <%= selects[s].attributes.price.min %>
                </p>
            </div>
        </div>
        <div class="back">
            <form>
                <input type="text" value="Name" placeholder="Name"/>
                <input type="text" value="Email" placeholder="Email"/>
                <input type="text" value="Phone" placeholder="Phone"/>
                <textarea>Question/Comments</textarea>
            </form>
            <a class="ca_button" href="#">Check Availability</a>
        </div>
    </div>
</div>